<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Livres</title>
    <link rel="stylesheet" href="/static/css/management_books.css">
</head>
<body>

<!-- Header -->
<header>
    <div class="container">
        <h1>Gestion des Livres</h1>
        <!-- Formulaire de recherche -->
        <form class="search-bar" action="/search_books" method="GET">
            <input type="text" name="title" placeholder="Rechercher par titre">
            <input type="text" name="author" placeholder="Rechercher par auteur">
            <input type="text" name="kind" placeholder="Rechercher par genre">
            <button type="submit">Rechercher</button>
        </form>

    </div>
</header>

<!-- Section principale -->
<section class="container">
    <h2>Tous les livres</h2>
    <div class="action-buttons">
        <a href="{{ url_for('ajoute livre') }}" class="add-button">Ajouter un livre</a>
    </div>

    <!-- Liste des livres -->
    <div class="book-list">
        <!-- Boucle sur les livres dans Jinja2 -->
        {% for book in books %}
        <div class="book-item">
            <h3>Titre: {{ book.title }}</h3>
            <p>Auteur: {{ book.author }}</p>
            <p>Genre: {{ book.kind }}</p>
            <p>Publication: {{ book.publication_date }}</p>
            <p>Disponibilité: {{ 'Disponible' if book.availability else 'Indisponible' }}</p>

            <!-- Boutons pour modifier et supprimer le livre -->
            <div class="book-actions">
                <form action="{{ url_for('modifier_livre', book_id=book.id) }}" method="get">
                    <button type="submit" class="edit-button">Modifier</button>
                </form>
                <form onsubmit="return deleteBook({{ book.id }})">
                    <button type="submit" class="delete-button">Supprimer</button>
                </form>

            </div>
        </div>
        {% endfor %}
    </div>

</section>
<script src="/static/js/delete_book.js"></script>
<!-- Footer -->
<footer>
    <p>&copy; 2024 Bibliothèque en ligne</p>
</footer>

</body>
</html>
