<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliothèque en ligne</title>
    <link rel="stylesheet" href="/static/css/user.css">
</head>
<body>
<header>
    <div class="container">
        <h1>Bibliothèque en ligne - Espace {{ user.name }}</h1>
        <!-- Barre de recherche -->
        <form class="search-bar" action="/search_books" method="GET">
            <input type="text" name="title" placeholder="Rechercher par titre">
            <input type="text" name="author" placeholder="Rechercher par auteur">
            <input type="text" name="kind" placeholder="Rechercher par genre">
            <button type="submit">Rechercher</button>
        </form>

    </div>

    <form action="{{ request.url_for('logout') }}" method="post">
        <button type="submit" class="login-button">Déconnexion</button>
    </form>

</header>

<nav>
    <a href="{{ request.url_for('gestion_livres') }}">Gestion des livres</a>
    <a href="{{ request.url_for('gestion_emprunts', username=user.name) }}">Gestion des emprunts</a>
</nav>

<section class="container">
    <h2>Nos Livres</h2>
    <div class="book-list">
        <!-- Boucle sur les livres dans Jinja2 -->
        {% for book in books %}
        <div class="book-item">
            <h3>Titre: {{ book.title }}</h3>
            <p>Auteur: {{ book.author }}</p>
            <p>Genre: {{ book.kind }}</p>
            <p>Publication: {{ book.publication_date }}</p>
            <p>Disponibilité: {% if book.availability %} Disponible {% else %} Indisponible {% endif %}</p>
            <form action="{{ url_for('loan_book', username=user.name, book_title=book.title) }}" method="get">
            <button type="submit" {% if not book.availability %} disabled {% endif %}>Emprunter</button>
            </form>
        </div>
        {% endfor %}
    </div>
</section>

<footer>
    <p>&copy; 2024 Bibliothèque en ligne</p>
</footer>
</body>
</html>
